.rounded-box {
    position: relative;
    background-color: #f0f0f0;
    border: 2px solid #333;
    border-radius: 10px;
    min-width: fit-content;
    max-width: 300px;
    margin-bottom: 10px;
}

.edit-icon {
    position: absolute;
    bottom: 3px;
    right: 35px;   
    cursor: pointer;
}

.delete-icon {
    position: absolute;
    bottom: 3px;
    right: 0px; 
    cursor: pointer;
}

.food-and-cals {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}